label {
    font-size:  15px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 20px;
}

.input-field {
    /* background-image: linear-gradient(top, #f1f3f3, #d4dae0);
    border-bottom: 1px solid #a6abaf;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    color: #727678;
    display: block;
    height: 43px;
    font: 600 14px/1 'Open Sans', sans-serif;
    padding-top: 14px;
    margin: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;} */
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    background: none;
    color: rgb(196, 56, 40);
    border: none;
    border-bottom: 1px solid #E74C3C;
    opacity: 0.5;
    transition: opacity 0.3s;
}

#event-desc {
    width: 100%;
}

.submit-btn {
    width: 20%;
    height: 30px;
    border: none;
    margin-bottom: 20px;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    color: rgb(202, 62, 47);
    transition: background 1s, color 1s;
    text-align: center;
    margin-left: 40%;
}
.submit-btn:hover {
    background: rgb(209, 56, 40);
    color: #ECF0F1;
    cursor: pointer;

}