.home-container {
    height: 100vh;
    width: 100%;
    padding: 6vh 8vw;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.45)), url(../res/background_1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(3, 3, 3, 0.712)), url(../res/background_1.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}

.createEvent {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    overflow: scroll;
    background-color: white;
    z-index: 9999;
}

.cat-container {
    height: 100vh;
    margin-left: 8vw;
}

nav {
    display: flex;
    position: relative;
}

.nav-fixed {
    display: flex;
    position: fixed;
    top: 5vh;
    bottom: 0;
    left: 18vw;
    right: 18vw;
}

.nav-events {
    margin-left: auto ;
}

#nav-logo {
    color: white;
    font-size: 25px;
    height: 100px;
    width: 100px;

}

.nav-item {
    color: #e0812e;
    font-size: 25px;
    padding-right: 20px;
    cursor: pointer;



}

.login-btn {
    position: fixed;
    top: 5vh;
    right: 2vw;
    background-color: whitesmoke;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.home-title--wrapper {
    padding: 4vh 2vw;
    text-align: center;
}

.btn-login {
    width: 10vw;
    margin: 50px;
    color: whitesmoke;
}

.login-div {
    position: absolute;
    top: 20vh;
    left: 25vw;
    background-color: white;
    height: 60vh;
    width: 50vw; 
}

.home-btn {
    border-radius: 30px;
    border-color: rgb(248, 248, 85); 
    background-color: transparent;
    height: 8vh;
    cursor: pointer;  
    
}
.home-btn:hover {
    background-color: #e0812e;

}
.btn-next {
    width: 30vw;
    margin: 20px;
    color:whitesmoke;
}

.intro-text {
    font-size: 60px;
    color: whitesmoke;
    font-weight: 500;
    padding-top: 15vh;
    padding-bottom: 4vh;
}
.typewriter {

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: 0.5em solid orange; *//* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}





